<table class="table">
    <tr>
        <td width="64" style="border: 0px;"><img src="{{ user.avatar(64) }}"></td>
        <td style="border: 0px;">
            <p>
                <a href="{{ url_for('main.user', username=user.username) }}">
                    {{ user.username }}
                </a>
            </p>
            <small>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                <p>上次登陆时间 :  {{ moment(user.last_seen).format('lll') }}</p>
                {% endif %}
                <p> 粉丝数量:{{ user.followers.count() }} ,关注人数: {{ user.followers.count()  }} 
                   </p>
                {% if user != current_user %}
                    {% if not current_user.is_following(user) %}
                    <a href="{{ url_for('main.follow', username=user.username) }}">
                        {{ _('Follow') }}
                    </a>
                    {% else %}
                    <a href="{{ url_for('main.unfollow', username=user.username) }}">
                       取消关注
                    </a>
                    {% endif %}
                {% endif %}
            </small>
        </td>
    </tr>
</table>